{% extends 'base.html.twig' %}
{% block titlePage %}{{ projet }}{% endblock %}
{% block main %}
    <h4>≡
        <a href="/type">Usertypes</a> ≡
        <a href="/user/add">Add user</a> ≡
    </h4>
    {%  for user in users %}
        <hr><h2>{{ user.id }} {{ user.login }}
        <a href="/user/edit/{{ user.id }}">✎</a>
        <a href="/user/delete/{{ user.id }}">×</a></h2>
        Birthdate:<br>{{ user.birthdate | date('d-m-Y') }}</h3>
        <h3>
            {% for user_type in user.user_types %}
                {{ user_type }}
            {% endfor %}
        </h3>
        <h4>{{ user.firstname }} {{ user.lastname }}</h4>
        <h3>{{ user.email }}</h3>
    {% endfor %}
{% endblock %}